html, body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

#mainContainer {
	position: relative;
	left: 20%;
	width: 60%;
	height: 100%;
}

#menuContainer {	
	width: calc(100% - 10px);
	height: calc(10vh - 10px);
	border: 5px solid gray;
	text-align: center;
}

#menu {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#menu div{
	display: inline-block;
}

#sideMenuContainer{
	position: relative;
	float: left;
	width: calc(20% - 10px);
	height: calc(100% - 10vh - 10px);
	border: 5px solid gray;
}

#sideMenu {
	border: none;
}

#contentContainer{
	position: relative;
	width: calc(80% - 10px);
	height: calc(100% - 10vh - 10px);
	border: 5px solid gray;
	overflow: auto;
}

#content {
	position: relative;
	width: 70%;
	left: 15%;
	text-align: justify;
	font-size: 1em;
}

.loadingImg{
	position: relative;
	width: 100%;
	heigth: 100%;
}