body {
	margin: 0;
	width: calc(100vw - 10px);
	height: calc(100vh - 10px);
	border: 5px solid red;
}

#container {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 5px solid orange;
}

#menu {
	text-align: center;
	height: calc(15vh - 10px);
	width: calc(100% - 10px);
	background: url("../images/menu-back.jpg");
	background-size: 100% 100%;
	border: 5px solid yellow;
}

#menu h1 {
	margin: 0;
	font-size: 2em;
	color: #ECDCBA;
}

#menu ul li {
	display: inline-block;
}

.menubtn {
	text-color: #ecdcba;
}

#sidemenu{
	position: relative;
	width: calc(15% - 10px);
	height: calc(100% - 15vh - 10px);
	float: left;
	border: 5px solid green;
	background: url("../images/sidemenu-back.jpg");
	background-size: 100% 100%;
}

#menuTree{
	background-image: url("../images/sidemenu-back.jpg");
}

#menuTree .jqx-widget-content {
    background-color: transparent;
}

#menuTree li {
	color: #ecdcba; 
}

#contentContainer{
	width: calc(85% - 10px);
	height: calc(100% - 15vh - 10px);
	overflow: auto;
	border: 5px solid blue;
	background: url("../images/book-back.jpg");
	background-size: 100% 100%;
}

#content {
	position: relative;
	width: 50%;
	left: 20%;
	text-align: left;
	font-size: 1.5em;	
	border: 5px solid purple;
}

.red {
	text-color: red;
}
